<%= @room.description %>
<%= @exit_output %>

<form action="/<%= @room.id %>" method="post">
  <input type ="hidden" name="_method" value="patch">
  <input type="hidden" name="hidden_id_room" value="<%= @room.id %>">
    <input id="action" name="action" type="text">
</form>
