@font-face {
font-family: 'Fixedsys500c';
src: url("/Fixedsys500c.otf") format("truetype");
}

html, body {
  font-family: 'Fixedsys500c', sans-serif;
}

input {
  font-family: 'Fixedsys500c', sans-serif;
}

.page-header {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#main_header {
  font-size: 30px;
}
#action {
  width: 250px;
  height: 35px;
}
